<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/login.css">
     <!--Iconos link-->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <section>
        <div class="form_container">
            <div class="form-value">
                <form action="">
                    <img src="../resources/img/login/usuario.png" alt="login">
                    <div class="inputbox">
                        <i class='bx bxs-user-rectangle' style="color: #917977;"></i>
                        <input type="name" required>
                        <label for="">Usuario</label>
                    </div>
                    <div class="inputbox">
                        <i class='bx bxs-lock-alt' style="color: #917977;"></i>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <button>Acceder</button>
                    <div class="forget">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>
            
    </section>
    
</body>
</html>