<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>365MP</title>
    <!-- Link Styles -->
    <link rel="stylesheet" href="../Recursos/css/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
    <link rel="stylesheet" href="../Recursos/css/perfil.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="sidebar">
        <div class="logo_details">
            <!--<img src="../Recursos/img/dashboard/logo.png" alt="">-->
            <div class="logo_name">365MP</div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="index.html">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="Gestion_Publicaciones.html">
                <i class='bx bx-calendar'></i>
                <span class="link_name">Trabajo</span>
            </a>
            <span class="tooltip">Trabajo</span>
        </li>
        <li>
            <a href="Trabajo.html">
                <i class='bx bx-bell'></i>
                <span class="link_name">Notificaciones</span>
            </a>
            <span class="tooltip">Notificaciones</span>
        </li>
        <li>
            <a href="Calendario.html">
                <i class='bx bx-calendar-alt'></i>
                <span class="link_name">Calendario</span>
            </a>
            <span class="tooltip">Calendario</span>
        </li>
        <li class="profile">
            <div class="profile_details">
                <img src="../Recursos/img/dashboard/logo.png" alt="profile image">
                <div class="profile_content">
                    <div class="name">Anna Jhon</div>
                    <div class="designation">Admin</div>
                    <a href="Login.html">
                        <i class="bx bx-log-out" id="log_out"></i>
                    </a>
                </div>
            </div>
        </li>

    </div>
    <div class="container">
        <div class="leftbox">
            <nav>
                <a id="profile" class="active"><i class="fa fa-user"></i></a>
                <a id="settings"><i class="fa fa-cog"></i></a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile">
                <h1>Mi perfil</h1>
                <h2>Nombre Completo</h2>
                <p>Julie Park <button class="btn">Actualizar</button></p>
                <h2>Cumpleaños</h2>
                <p>Julio 21</p>
                <h2>Genero</h2>
                <p>Femenino</p>
                <h2>Email</h2>
                <p>example@example.com <button class="btn">Actualizar</button></p>
                <h2>Dirección</h2>
                <p> Residencial la gloria <button class="btn">Actualizar</button></p>
                <h2>Numero Telefono </h2>
                <p>5879-0088 <button class="btn">Actualizar</button></p>
                <h2>Contraseña </h2>
                <p>••••••• <button class="btn">Actualizar</button></p>
            </div>
            <div class="settings noshow">
                <h1>Ajustes de cuenta</h1>
                <h2>Cambiar idioma<button class="btn">sync</button></h2>
                <p></p>
                <h2>Cambiar tema<button class="btn">hold</button></h2>
                <p></p>
                <h2>Suspender cuenta<button class="btn">cancel</button></h2>
                <p></p>
            </div>

        </div>
    </div>
    <!-- partial -->

    <!-- Scripts -->
    <script src="../Recursos/js/script.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="../Recursos/js/perfil.js"></script>

</body>

</html>